.sidenav {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(var(--card-rgb), 0.15);
  padding-top: 20px;
  overflow-x: hidden;
  padding-left: 10px;
}

.sidenav h2 {
  margin-left: 0.5rem;
}

.sidenav .divider{
  margin: 0.5rem;
  border-bottom: 1px solid rgba(var(--card-border-rgb), 0.15);
}

.sidenav .listitem {
  display: flex;
  margin: 0.5rem;
  text-decoration: none;
  transition: all 300ms ease;
}

.sidenav .item {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.sidenav .footer {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem 2rem 1rem 1rem;

}

@media (hover: hover) and (pointer: fine) {
  .sidenav .listitem:hover{
    background: rgba(var(--card-rgb), 0.25);
    border-radius: 12px;
    padding: 0.5rem;
    margin-left: 0rem;
  }
}
