.center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.sample-result,
.starred-item {
  display: flex;
  position: relative;
}

.starred-item {
  border-radius: 6px;
}

.shadowable:hover {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.sample-result:hover .star-icon,
.starred-item:hover .star-icon,
.sample-result:hover .play-icon {
  display: block;
}

.star-icon {
  top: 10px;
}

.play-icon {
  top: 50px;
}

.star-icon,
.play-icon {
  display: none;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  color: gray;
}

.star-icon:hover,
.play-icon:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.star-icon:active,
.play-icon:active {
  background-color: rgba(0, 0, 0, 0.2);
}

@media (prefers-color-scheme: dark) {
  .star-icon,
  .play-icon {
    color: white;
  }
}

.sample-result .sample-result-text {
  padding-left: 0.5rem;
}

.videoComparisonRow {
  display: flex;
  cursor: pointer;
}

.videoComparisonRow span {
  transition: transform 200ms;
}

.videoContainer {
  width: 400px;
  height: 225px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardish {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.hovered {
  background: rgba(var(--card-rgb), 0.1);
  border-radius: var(--border-radius);
  margin-left: 2px;
  margin-right: 2px;
}

.cardish p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 34ch;
}

.container {
  width: var(--max-width);
  max-width: 100%;
}

.albumSampleList {
  padding-top: 150px;
}

.albumTitleContainer,
.songTitleContainer {
  position: fixed;
  padding-top: 1.5rem;
  padding-left: 6.5rem;
  margin-left: 25%;
  width: 100%;
  top: 0;
  display: flex;
  align-items: flex-end;
  pointer-events: none;
  z-index: 2;
  text-overflow: ellipsis;
}

.songTitleContainer {
  padding-top: 2.5rem;
}

.albumTitleHeader,
.songTitleHeader {
  max-width: 50%;
}

.scrolled {
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.scrolled::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 5px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .albumAppearance:hover {
    background: rgba(var(--card-rgb), 0.1);
  }
  .albumSample:hover {
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }
  .textLink:hover {
    text-decoration: underline;
  }
  .videoComparisonRow:hover > span {
    transform: translateX(4px);
  }
}

/* Mobile and Tablet */
@media (max-width: 1023px) {
  .container {
    min-width: 340px;
    max-width: 100%;
    display: block;
    justify-content: center;
  }

  .sample-result {
    flex-direction: column;
    overflow: hidden;
    white-space: wrap;
  }

  .sample-result .sample-result-text {
    padding: 0;
    margin-top: 0.5rem;
  }

  .videoComparisonRow {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 340px;
  }

  .videoContainer {
    width: 300px;
    height: 169px;
  }

  .videoComparisonRow span {
    text-align: center;
  }

  .albumAppearance {
    padding: 1rem 2.5rem 2rem;
    margin-bottom: 0.5rem;
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }
  .textLink {
    text-decoration: underline;
  }

  .albumTitleContainer,
  .songTitleContainer {
    padding-left: 1rem;
    margin-left: 0;
  }

  .scrolled {
    display: flex;
  }

  .albumTitleHeader,
  .songTitleHeader {
    padding-right: 1rem;
  }

  .albumTitleHeader h2,
  .albumTitleHeader h1,
  .songTitleHeader h2,
  .songTitleHeader h1 {
    font-size: 0.8rem;
    font-family: var(--font-mono);
  }
}

@media screen and (max-width: 1300px) and (min-width: 1023px) {
  .albumTitleContainer,
  .songTitleContainer {
    margin-left: 27.5%;
  }
  .videoContainer {
    width: 300px;
    height: 169px;
  }
}
