.dot {
  display: inline-block;
  animation-name: bouncing;
  animation-duration: 700ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  &:nth-child(2) {
    animation-delay: 125ms;
  }
  &:nth-child(3) {
    animation-delay: 250ms;
  }
}

@keyframes bouncing {
  0% {
    transform: none;
  }

  33% {
    transform: translateY(-0.2em);
  }

  66% {
    transform: none;
  }
}